*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
min-height: 100vh;
position: relative;
}

main{
min-height: 80vh;

}



nav {
  display: flex;
  text-align: right;
  background-color: #333;
  height: 100px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: flex;
  padding: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
}

footer{
  position: absolute;
  bottom: o;
 
}

